.Fondo{
    Background: rgb(111, 0, 255);
    }
.titulo{
    font-family: fantasy, "Helvetica Neue", Helvetica, sans-serif;;
    }
.tipodeletra{
    font-family: cursive, "Helvetica Neue", Helvetica, sans-serif;;
    }
